@import './../../../styles/global.scss';

.search {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.input {
	max-width: 620px;
	width: 300px;
	flex-grow: 1;
	box-shadow: 0 7px 12px 0 rgba(100, 100, 111, 0.2);
	border: none;
	padding: 19px 25px;
	line-height: 26px;
	font-size: 22px;
	color: inherit;
	font-weight: 700;
	margin-bottom: 13px;
	&::placeholder {
		color: rgb(101, 110, 194);
	}
}

